.settings {
  display: flex;
  align-items: center;

  .spanWrapper {
    display: flex;
    align-items: center;
    height: 40px;

    span {
      &:first-child {
        color: #f6dd3d;
      }
    }
  }

  .slider {
    margin-left: 20px;
  }
}