.productCellWrapper {
  background: #01011c;
  width: 20%;
  border: 1px solid rgba(255, 255, 255, 0.5);

  .productCell {
    box-shadow: 0 0 14px #12c2c4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    color: #D1D1D1;
    transition: all 0.1s linear;


    p {
      transition: all 0.05s linear;
    }

    &:hover {
      box-shadow: 0 0 30px lime;
      transition: 0.1s ease;
      color: lime;

      p {
        text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 20px lime, 0 0 40px lime;
        transition: all 0.05s linear;
        transform: scale(1.1);
      }
    }
  }

  .active {
    box-shadow: 0 0 30px crimson;
    transition: 0.2s linear;
    color: crimson;

    .img {
      transition: 0.5s ease;
      transform: rotateY(360deg);
    }

    &:hover {
      box-shadow: 0 0 30px #d41212;
      transition: 0.1s linear;
      color: #d41212;

      p {
        text-shadow: 0 0 5px #d41212, 0 0 10px #d41212, 0 0 20px #d41212, 0 0 40px #d41212;
        transition: all 0.1s linear;
        transform: scale(1.1);
      }
    }

    * {
      stroke: #ff00aa;
      fill: #000;
      text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red, 0 0 40px red;
    }
  }
}

