.productCell {
  background: #000105;
  text-align: center;
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.2s ease;

  &:hover {
    background: #020432;
    transition: 0.2s ease;
    text-shadow: 0 0 5px green, 0 0 10px green, 0 0 20px green, 0 0 40px green;
  }
}

.active {
  background-color: #00001f;
  transition: 0.2s ease;
  color: #d61eff;

  * {
    //transition: all 0.1s linear;
    //transition: color 0.0s linear;
    stroke: #ff00aa;
    fill: #000;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red, 0 0 40px red;
  }

  &:hover {
    background-color: #00001f;
    transition: 0.2s ease;
  }
}